.sidebar {
	width: 30%;
	.widget-title {
		color: #3A526A;
		font-weight: lighter;
		font-size: 20px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
		li a {
			// display: none;
		}
	}
}
